<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="headshot">
            <img class="card-img-top" src="~/Images/MarkZuckerberg.jpg" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Mark Zuckerberg</h5>
            <p class="card-text">Facebook創辦人 馬克·祖伯克</p>
            <a href="https://goo.gl/BktGGA" class="btn btn-primary">Wiki</a>
        </div>
    </div>
</div>
