<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>神力女超</h4></div>
            <div class="panel-body">
                <img src="~/Assets/images/wonderwoman.jpg" />
                <p class="text-success">
                    《神力女超人》是由美國漫畫大廠DC Comics推出的年度大作，由
                    蓋兒加朵飾演亞馬遜族的公主戴安娜，自幼生長在與世隔絕的天堂島，
                    當她得知世界正經歷一場大戰，她決定挺身而出為正義而戰。
                </p>
            </div>
            <div class="panel-footer alert-danger">蓋兒·加朵主演</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><h4>冰與火之歌</h4></div>
            <div class="panel-body">
                <img src="~/Assets/images/game.jpg" />
                <p class="text-success">
                    該劇以美國作家喬治·R·R·馬丁的奇幻巨作《冰與火之歌》系列為基礎改編創作，
                    《冰與火之歌》不同於古典奇幻作品中常有的善惡分明、充滿魔法、並有許多
                    非人種族參與故事的情節。
                </p>
            </div>
            <div class="panel-footer alert-danger">艾米莉亞·克拉克主演</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading"><h4>雷神索爾</h4></div>
            <div class="panel-body">
                <img src="~/Assets/images/thor.jpg" />
                <p class="text-success">
                    在大戰結束之後，帶著洛基回到自己的世界，並開始進行宇宙秩序的重建。
                    不料，被詛咒的梅爾吉斯為了報仇，引領一神秘古老的種族「黑暗精靈」來到
                    人類世界，打算征服全宇宙。
                </p>
            </div>
            <div class="panel-footer alert-danger">克里斯·漢斯沃主演</div>
        </div>
    </div>
</div>
